.jumbotron  {
  padding-left: 400px;
  padding-right: 405px;
  background-color: red;
}
.row4  {
  text-align: center;
  background-color: black;
  color: white;
}
.row  {
  background-color: black;
  color: white;
}
.p1 {
  text-align: center;
  align-items: center;
  padding-left: 150px;
}