.jumbotron  {
  /* padding-left: 400px;
  padding-right: 405px; */
  background-color: red;
  text-align: center;
}
.row4  {
  text-align: center;
  background-color: black;
  color: green;
  font-size: xx-large;
  padding-top: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row  {
  background-color: black;
  color: white;
}
.p1 {
  text-align: center;
  align-items: center;
  
}
#results{
  text-align: center;
}
.akan {
  font-weight: bold;
  color: red;
  font-style: italic;
}
.card {
  background-color:black;
  color: white;
  text-align: center;
  list-style: inside;
}
.row6  {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
